name: Package and release

on:
  push:
    branches:
      - master
      - wotlk
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags')

    steps:
      - name: Checkout the addon
        uses: actions/checkout@v4

      - name: Package and release it
        uses: BigWigsMods/packager@master
        with:
          args: -l
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
